<a href="https://colab.research.google.com/github/tanim14/Assignment-on-Python/blob/main/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Importing Pandas and Numpy libraries to work with datasets and arrays.
import pandas as pd
import numpy as np

# **Program 1**
**Write a Python program to count the number of characters (character frequency) in a string.**

In [6]:
# Defining the string 
string = "google.com"

# Creating an empty set
charFreq = {}

# Count the frequency of each character
for char in string:
  if char in charFreq:
    charFreq [char] +=1
  else:
    charFreq [char] =1
# Print the dictionary of character frequencies
print(charFreq)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# **Program 2**
**Write a Python program to check if a given key already exists in a dictionary.**

In [6]:
# Create a dictionary
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
# Check if a key exists in the dictionary or not!
key = "brand"
if key in dict:
  print(f"The key '{key}' exists in the dictionary.")
else: 
  print(f"The key '{key}' does not exist in the dictionary.")

The key 'brand' exists in the dictionary.

In [7]:
# Create a dictionary
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
# Check if a key exists in the dictionary or not!
key = "Ford"
if key in dict:
  print(f"The key '{key}' exists in the dictionary.")
else: 
  print(f"The key '{key}' does not exist in the dictionary.")

The key 'Ford' does not exist in the dictionary.

# **Program 3**
**Write a Python program that accepts a sequence of comma-separated numbers from the
user and generates a list and a tuple of those numbers.**

In [8]:
# Accept a sequence of comma-separated numbers from the user
userInput = input("Enter a sequence of comma-separated numbers: ")

# Convert the sequence of numbers to a list
inputAsList = userInput.split(',')

# Convert the sequence of numbers to a tuple
inputAsTuple = tuple(inputAsList)

# Print the List and Tuple of user generated numbers
print("List: ", inputAsList)
print("Tuple: ", inputAsTuple)

Enter a sequence of comma-separated numbers: 1, 15, 6, 45
List:  ['1', ' 15', ' 6', ' 45']
Tuple:  ('1', ' 15', ' 6', ' 45')

# **Program 4**
**Write a Python program to calculate the number of days between two dates.**

In [10]:
from datetime import date

# Define two dates
date1 = date(2014, 7, 2)
date2 = date(2014, 7, 11)

# Calculate the number of days betwen these two dates
difference = date2 - date1
numberOfDays = difference.days

# Print the number of dates
print("Number of days between", date1, "and", date2, "is", numberOfDays, "days.")

Number of days between 2014-07-02 and 2014-07-11 is 9 days.

# **Program 5**
**Write a Python program to solve $(x + y)^2$**

In [14]:
# Define the values of x and y.
x = 4
y = 3

# Calculate the result of (x+y)^2
squaredResult = (x+y)**2

#Print the result
print("({}+{})^2 = {}".format(x,y,squaredResult))

(4+3)^2 = 49

#**Program 6**
**Write a Python program to compute the future value of a specified principal amount,
rate of interest, and number of years.**

In [15]:
# Defining Principal Amount, rate of interest and number of years.
principalAmount = 50000
rateOfInterest = 5.5
numberOfYears = 10

# Calculating the future value following the formula of compound interest.
futureValue = principalAmount * (1 + rateOfInterest/100) ** numberOfYears

# Printing the Future value
print("Future Value: ", round(futureValue,2))

Future Value:  85407.22

# **Program 7**
**Write a Python program that removes duplicate elements from a given array of numbers so
that each element appears only once and returns the new length of the array.**

In [16]:
# Defining the array of numbers
arrayOfNumbers = [1,2,3,4,5,2,4,1,1,3,4]

# Using set() to remove duplicates
uniqueNumbers = list(set(arrayOfNumbers))

# Printing the list of unique numbers and the length of the list
print("The list of unique numbers: ", uniqueNumbers)
print("The length of the unique list: ", len(uniqueNumbers))

The list of unique numbers:  [1, 2, 3, 4, 5]
The length of the unique list:  5

#**Program 8**
**Write a Python program to sort (ascending and descending) a dictionary by key value.**

In [4]:
# Defining a dictionary
studentId = {
    112: "Eric", 
    111: "Kyle", 
    113: "Butters"
    }

# Sorting the values of the dictionary according to the keys
ascendingDictionary = sorted(studentId.items())
descendingDictionary = sorted(studentId.items(), reverse = True)

# Printing the original dictionary, dictionary in ascending order and dictionary in descending order.
print("Original dictionary: ", studentId)
print("Dictionary sorted by key in ascending order: ", ascendingDictionary)
print("Dictionary sorted by key in descending order: ", descendingDictionary)

Original dictionary:  {112: 'Eric', 111: 'Kyle', 113: 'Butters'}
Dictionary sorted by key in ascending order:  [(111, 'Kyle'), (112, 'Eric'), (113, 'Butters')]
Dictionary sorted by key in descending order:  [(113, 'Butters'), (112, 'Eric'), (111, 'Kyle')]

#**Program 9**
**Write a Python program to add key to a dictionary.**

In [24]:
# Create a dictionary
myDict = {0:15, 1:30}

# Adding a new key-value pair in the dictionary
myDict[2] = 45

# Printing the new dictionary
print("Dictionary: ", myDict)

Dictionary:  {0: 15, 1: 30, 2: 45}

# **Program 10**
**Write a Pandas program to create and display a DataFrame from a specified dictionary data
which has the index labels.**

In [26]:
# Defining the dictionary
exam_data = {
    'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Converting the dictionary to dataframe
df = pd.DataFrame(exam_data, index = labels)

# Printing the dataframe
print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis    NaN         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia    NaN         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes